/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #title{
      text-align: center;
  }

  /* .correctButton{
    border-color: green;
    border-width: 5px;
  }
  .incorrectButton{
      border-color: red;
      border-width: 2px;
  }
  .correctButton:focus {
      outline: none;
      box-shadow: none;
  }
  .incorrectButton:focus {
      outline: none;
      box-shadow: none;
  } */